body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
    font-size: 12px;
}

input,
a {
    outline: none;
}

a:hover {
    color: #333;
}

.fl {
    float: left
}

.fr {
    float: right
}

.hide {
    display: none
}

// 使a出现下划线
.text_line:hover {
    text-decoration: underline;
}

/* 以上为重置样式 */


/* -----------------以下为公共样式 -------------------*/
//把鼠标箭头改为手掌
$cursor:pointer;

// 解决高度塌陷的问题
.clear_float:after {
    content: "";
    display: block;
    clear: both;
}

// 右上角加小红点
.circle::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #b32424;
    top: 8px;
    right: -5px;
}



// 外套

#wrap-header,
#wrap-top,
#wrap-search,
#wrap-nav,
#wrap-main,
#wrap-footer {
    width: 100%;
    background-color: #F5F5F5;
}

//版心
#header,
#top,
#search,
#nav,
#main,
#footer {
    width: 1200px;
    margin: 0 auto;
}

// ----------------------------------------header
#wrap-header {
    background-color: #960607;
    position: relative;

    a {
        display: block;
    }

    div {
        position: absolute;
        top: 50%;
        right: 44px;
        margin-top: -16px;
        margin-left: -16px;
        cursor: $cursor;
        width: 32px;
        height: 32px;
        background-image: url("../img/a.png");
        background-position: -456px -414px;
        background-size: 589px;
    }
}

//------------------------------------------ top
#wrap-top {
    background-color: #f4f4f4;
    color: #999;

    #top {
        height: 28px;
        line-height: 28px;

        .top-left {
            a {
                display: inline-block;
                line-height: 28px;
                color: #998c59;
                margin-left: 10px;
                margin-right: 30px;
                cursor: $cursor;
            }
        }

        .top-right {
            // width: 510px;
            // background-color: rgb(238, 207, 212);

            a {
                line-height: 28px;
                display: block;
                float: left;
                cursor: $cursor;
                padding: 0 10px;
                color: #999;

                &:hover {
                    color: black;
                }
            }

            .top-login {
                a:nth-child(2) {
                    color: #ae0f17;
                }
            }

            .top-others {
                .fenGe {
                    color: #ddd;
                    margin: 0 8px;
                    float: left;
                }
            }
        }
    }
}

//------------------------------------------search
#wrap-search {
    height: 115px;
    background-color: #FFFFFF;

    #search {
        height: 100%;

        .search-left {
            width: 404px;

            a {
                display: block;
            }

            .wb-logo {
                margin-top: 18px;
                width: 121px;
                font-size: 0;
            }

            >a {
                margin-top: 18px;
            }
        }

        .search-right {
            margin-top: 37.5px;
            width: 392px;
            height: 40px;
            font-size: 12px;
            position: relative;

            .searchform {

                // 清除.searchform里面的浮动
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .s-lab {
                    width: 316px;
                    height: 40px;
                    line-height: 38px;
                    border: 1px solid #ddd;
                    display: block;
                    box-sizing: border-box;
                    border-radius: 4px 0 0 4px;
                    color: #999;
                    cursor: text;
                    position: relative;

                    i {
                        display: block;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 7px;
                    }

                    span {
                        width: 286px;
                        position: absolute;
                        left: 30px;
                        color: #ccc;
                        z-index: 1;
                    }

                    input {
                        width: 286px;
                        height: 100%;
                        padding: 0;
                        padding-left: 30px;
                        border: 0;
                        display: block;
                        color: #333;
                        font-size: 14px;
                        position: relative;
                        z-index: 10;
                        background: rgba(255, 255, 255, 0);

                    }
                }

                .search-btn {
                    width: 76px;
                    height: 40px;
                    cursor: $cursor;
                    font-size: 14px;
                    color: #fff;
                    border-radius: 0 4px 4px 0;
                    border: 0;
                    outline: none;
                    background-image: linear-gradient(-270deg, #da6666 0, #b33636 100%);
                }
            }

            #recommand {
                // 先把搜索隐形
                display: none;
                position: absolute;
                z-index: 100;
                width: 316px;
                height: 113px;
                background: #fff;
                border: 1px solid #eee;
                box-sizing: border-box;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
                left: 0;
                color: #ccc;

                .hot {
                    p {
                        line-height: 32px;
                        padding: 0 12px;
                        overflow: hidden;
                        margin-bottom: 5px;
                    }

                    div {
                        padding-left: 12px;
                        height: 42px;

                        a {
                            display: block;
                            margin-bottom: 10px;
                            margin-right: 10px;
                            color: #cc5252;
                            border: 1px solid #cc5252;
                            border-radius: 4px;
                            padding: 6px 7px;

                            &:hover {
                                background-color: #cc5252;
                                color: white;
                            }
                        }

                    }
                }

                .history {
                    line-height: 32px;

                    span {
                        padding-left: 12px;
                    }

                    a {
                        color: #ccc;
                        padding-right: 12px;
                    }
                }
            }

        }

        .erWeiMa img {
            width: 115px;
            height: 115px;
        }
    }
}

// -------------------------------------nav
#wrap-nav {
    background-color: #FFFFFF;
}

#nav {
    .nav-left {
        width: 202px;
        height: 48px;

        .allshop {
            display: block;
            height: 48px;
            line-height: 48px;
            padding: 0 16px;
            font-size: 14px;
            color: #fff;
            background-image: linear-gradient(269deg, #b34747 1%, #cc5252 98%);
            background-color: #b32424;

            i {
                display: inline-block;
                font-size: 14px;
                width: 14px;
                height: 14px;
            }
        }
        // <!-- 品牌列表 -->
        .nav-leftmenu {
            width: 202px;
            height: 460px;
            background: #e6e6e6;
            z-index: 66;
            position: absolute;
            box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1), -2px 0 4px 0 rgba(0, 0, 0, .1);

            ul {
                width: 202px;
                height: 460px;
                display: flex;
                flex-direction: column;

                .navmenu-box {
                    width: 202px;
                    height: 57.5px;
                    box-sizing: border-box;
                    position: relative;

                    i {
                        display: none;
                        content: " ";
                        width: 4px;
                        background-color: #ccaa7a;
                        height: 57.5px;
                        float: left;
                    }

                    .menu {
                        width: 182px;
                        height: 57.5px;
                        margin: 0 auto;
                        line-height: 57.5px;
                        box-shadow: inset 0 1px 0 0 rgba(196, 142, 142, .1);
                        cursor: $cursor;
                        box-sizing: border-box;
                        border-bottom: 0.5px solid #E6E7E7;

                        .menu-left {
                            // display: block;
                            // width: 56.34px;
                            color: #4d4d4d;
                            font-weight: 700;
                            line-height: 57.5px;
                            margin-right: 4px;

                            em {
                                display: inline-block;
                                color: #BBBBBB;
                                width: 3.34px;
                                font-style: normal;
                                // overflow: hidden;
                            }
                        }

                        .menu-right {
                            max-width: 119px;
                            overflow: hidden;
                            height: 57.5px;
                            color: #ccc;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            .rel_a {
                                padding: 0;
                                margin-right: 3px;
                                color: #666;

                                &:hover {
                                    text-decoration: underline;
                                    color: #333;
                                }
                            }
                        }
                    }

                    &:hover i {
                        display: block;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, .9);
                    }
                    // ---------------<!-- 隐藏的品牌页面 -->
                    .submenu {
                        display: none;
                        width: 998px;
                        height: 460px;
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        left: 202px;
                        box-shadow: 4px 0 8px 0 rgba(0, 0, 0, .1);

                        .col_box {
                            overflow: hidden;
                            width: 717px;
                            // min-height: 404px;
                            margin: 23px 28px 0 24px;

                            .t {
                                position: relative;
                                display: block;
                                color: #666;
                                margin-bottom: 12px;
                                line-height: 15px;
                                padding-left: 7px;
                                font-size: 14px;
                                font-weight: 700;

                                &::before {
                                    position: absolute;
                                    content: '';
                                    top: 0;
                                    left: 0;
                                    width: 4px;
                                    height: 14px;
                                    background-color: #666;
                                }
                            }

                            .col_1 .branchlist {
                                position: relative;
                                margin-bottom: 24px;
                                box-sizing: border-box;
                                i {
                                    width: 100%;
                                    height: 20px;
                                    position: absolute;
                                    left: 0;
                                    z-index: 2;
                                    bottom: -1px;
                                    background: url(../img/brand-logo-down.png) bottom center repeat;
                                }
                            }

                            .col_1 .branchlist ul {
                                width: 712px;
                                overflow-x: hidden;
                                overflow-y: auto;
                                max-height: 278px;

                                &::-webkit-scrollbar {
                                    width: 4px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #d8d8d8;
                                    border-radius: 8px;
                                }

                                div {
                                    width: 695px;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    border-left: 1px solid #e6e6e6;
                                    border-top: 1px solid #e6e6e6;
                                }

                                li {
                                    // display: block;
                                    width: 139px;
                                    height: 79px;

                                    a {
                                        display: block;
                                        width: 139px;
                                        height: 79px;
                                        border-bottom: 1px solid #e6e6e6;
                                        border-right: 1px solid #e6e6e6;
                                        box-sizing: border-box;
                                        position: relative;
                                        span{
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            display: block;
                                            width: 100%;
                                            font-size: 14px;
                                            color: #FFFFFF;
                                            line-height: 79px;
                                            text-align: center;
                                            background-color:#CCAA7A;
                                            display: none;
                                        }
                                        img {
                                            display: block;
                                            width: 100px;
                                            height: 40px;
                                            margin: auto;
                                            padding-top: 19px;
                                        }
                                    }
                                    &:hover img{
                                        display: none;

                                    }
                                    &:hover span{
                                        display: block;
                                    }
                                }
                            }
                            .col_2{
                                .hotwords{
                                    a{
                                        display: inline-block;
                                        height: 36px;
                                        line-height: 36px;
                                        padding: 0 18px;
                                        border: 1px solid #eee;
                                        border-radius: 100px;
                                        font-size: 14px;
                                        color: #666;
                                        &:hover{
                                            background-color: #CCAA7A;
                                            color:#FFFFFF ;
                                        }
                                    }
                                }
                            }
                        }
                        .branch-img{
                            display: block;
                            width: 205px;
                            height: 412px;
                            margin-top: 23px;
                        }
                    }
                    // <!-- 划过li使隐藏的品牌页面显示 -->
                    &:hover .submenu{
                        display: block;
                    }
                }

            }
        }
    }

    .nav-right {
        margin-left: 20px;

        ul li {
            float: left;
            margin-left: 24px;

            a {
                // background-color: pink;
                display: block;
                height: 41px;
                line-height: 41px;
                font-size: 14px;
                color: #333;
                position: relative;
            }

            &:hover {
                // 划过a会给每个链接添加底边框
                border-bottom: 3px solid #b32424;
            }
        }
    }
}

// ----------floatnav
.fixednav {
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #fff;

    #nav {
        position: relative;

        .nav-search {
            color: #999;
            height: 48px;
            line-height: 48px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #FFFFFF;

            .navsearch-left {
                display: block;
                width: 310px;
                height: 48px;
                overflow: hidden;

                .icon {
                    width: 32px;
                    height: 48px;
                    text-align: center;
                }

                .dongfangxing {
                    width: 278px;
                    height: 100%;
                    position: relative;

                    span {
                        display: block;
                        width: 198px;
                        height: 100%;
                        color: #ccc;
                    }

                    input {
                        border: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0);
                    }
                }

                #recommand {
                    // 先把热门推荐隐形 当点击东方星时把热门推荐显示display:block
                    display: block;
                    position: absolute;
                    z-index: 100;
                    width: 278px;
                    height: 113px;
                    background: #fff;
                    border: 1px solid #eee;
                    box-sizing: border-box;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
                    left: 32px;
                    top: 48px;
                    color: #ccc;

                    .hot {
                        p {
                            line-height: 32px;
                            padding: 0 12px;
                            overflow: hidden;
                            margin-bottom: 5px;
                        }

                        div {
                            padding-left: 12px;
                            height: 42px;

                            a {
                                font-size: 12px;
                                line-height: 18px;
                                display: block;
                                margin-bottom: 10px;
                                margin-right: 10px;
                                color: #cc5252;
                                border: 1px solid #cc5252;
                                border-radius: 4px;
                                padding: 6px 7px;


                                &:hover {
                                    background-color: #cc5252;
                                    color: white;
                                }
                            }
                        }
                    }

                    .history {
                        line-height: 32px;

                        span {
                            padding-left: 12px;
                        }

                        a {
                            color: #ccc;
                            padding-right: 12px;
                        }
                    }
                }
            }

            .navsearch-right {
                width: 96px;
                height: 48px;
                text-align: center;

                .navsearch-btn {
                    width: 48px;
                    height: 48px;

                    .iconsousuo1 {
                        display: block;
                        font-size: 30px;
                        color: #ccc;
                        cursor: $cursor;

                    }
                }

                .navsearch-cart {
                    width: 48px;
                    height: 48px;

                    .iconfont {
                        color: #ccc;
                        font-size: 24px;
                    }
                }
            }

        }
    }
}


#main,
#footer {
    height: 300px;
    background-color: pink;
    z-index: 1;
}