body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
    font-size: 12px;
}

input,
a {
    outline: none;
}

a:hover {
    color: #333;
}

.fl {
    float: left
}

.fr {
    float: right
}

.hide {
    display: none
}

// 使a出现下划线
.text_line:hover {
    text-decoration: underline;
}

/* 以上为重置样式 */


/* -----------------以下为公共样式 -------------------*/
//把鼠标箭头改为手掌
$cursor:pointer;

// 解决高度塌陷的问题
.clear_float:after {
    content: "";
    display: block;
    clear: both;
}

// 右上角加小红点
.circle::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #b32424;
    top: 8px;
    right: -5px;
}

// 盒子划过出现的阴影
.boxshadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
}


// 外套

#wrap-header,
#wrap-top,
#wrap-search,
#wrap-nav,
#wrap-main,
#wrap-footer {
    width: 100%;
    background-color: #F5F5F5;
}

//版心
#header,
#top,
#search,
#nav,
#main {
    width: 1200px;
    margin: 0 auto;
}

// ----------------------------------------header
#wrap-header {
    background-color: #960607;
    position: relative;

    a {
        display: block;
    }

    div {
        position: absolute;
        top: 50%;
        right: 44px;
        margin-top: -16px;
        margin-left: -16px;
        cursor: $cursor;
        width: 32px;
        height: 32px;
        background-image: url("../img/a.png");
        background-position: -456px -414px;
        background-size: 589px;
    }
}

//------------------------------------------ top
#wrap-top {
    background-color: #f4f4f4;
    color: #999;

    #top {
        height: 28px;
        line-height: 28px;

        .top-left {
            a {
                display: inline-block;
                line-height: 28px;
                color: #998c59;
                margin-left: 10px;
                margin-right: 30px;
                cursor: $cursor;
            }
        }

        .top-right {
            // width: 510px;
            // background-color: rgb(238, 207, 212);

            a {
                line-height: 28px;
                display: block;
                float: left;
                cursor: $cursor;
                padding: 0 10px;
                color: #999;

                &:hover {
                    color: black;
                }
            }

            .top-login {
                a:nth-child(2) {
                    color: #ae0f17;
                }
            }

            .top-others {
                .fenGe {
                    color: #ddd;
                    margin: 0 8px;
                    float: left;
                }
            }
        }
    }
}

//------------------------------------------search
#wrap-search {
    height: 115px;
    background-color: #FFFFFF;

    #search {
        height: 100%;

        .search-left {
            width: 404px;

            a {
                display: block;
            }

            .wb-logo {
                margin-top: 18px;
                width: 121px;
                font-size: 0;
            }

            >a {
                margin-top: 18px;
            }
        }

        .search-right {
            margin-top: 37.5px;
            width: 392px;
            height: 40px;
            font-size: 12px;
            position: relative;

            .searchform {

                // 清除.searchform里面的浮动
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .s-lab {
                    width: 316px;
                    height: 40px;
                    line-height: 38px;
                    border: 1px solid #ddd;
                    display: block;
                    box-sizing: border-box;
                    border-radius: 4px 0 0 4px;
                    color: #999;
                    cursor: text;
                    position: relative;

                    i {
                        display: block;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 7px;
                    }

                    span {
                        width: 286px;
                        position: absolute;
                        left: 30px;
                        color: #ccc;
                        z-index: 1;
                    }

                    input {
                        width: 286px;
                        height: 100%;
                        padding: 0;
                        padding-left: 30px;
                        border: 0;
                        display: block;
                        color: #333;
                        font-size: 14px;
                        position: relative;
                        z-index: 10;
                        background: rgba(255, 255, 255, 0);

                    }
                }

                .search-btn {
                    width: 76px;
                    height: 40px;
                    cursor: $cursor;
                    font-size: 14px;
                    color: #fff;
                    border-radius: 0 4px 4px 0;
                    border: 0;
                    outline: none;
                    background-image: linear-gradient(-270deg, #da6666 0, #b33636 100%);
                }
            }

            #recommand {
                // 先把搜索隐形
                display: none;
                position: absolute;
                z-index: 100;
                width: 316px;
                height: 113px;
                background: #fff;
                border: 1px solid #eee;
                box-sizing: border-box;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
                left: 0;
                color: #ccc;

                .hot {
                    p {
                        line-height: 32px;
                        padding: 0 12px;
                        overflow: hidden;
                        margin-bottom: 5px;
                    }

                    div {
                        padding-left: 12px;
                        height: 42px;

                        a {
                            display: block;
                            margin-bottom: 10px;
                            margin-right: 10px;
                            color: #cc5252;
                            border: 1px solid #cc5252;
                            border-radius: 4px;
                            padding: 6px 7px;

                            &:hover {
                                background-color: #cc5252;
                                color: white;
                            }
                        }

                    }
                }

                .history {
                    line-height: 32px;

                    span {
                        padding-left: 12px;
                    }

                    a {
                        color: #ccc;
                        padding-right: 12px;
                    }
                }
            }

        }

        .erWeiMa img {
            width: 115px;
            height: 115px;
        }
    }
}

// -------------------------------------nav
#wrap-nav {
    background-color: #FFFFFF;
}

#nav {
    .nav-left {
        width: 202px;
        height: 48px;

        .allshop {
            display: block;
            height: 48px;
            line-height: 48px;
            padding: 0 16px;
            font-size: 14px;
            color: #fff;
            background-image: linear-gradient(269deg, #b34747 1%, #cc5252 98%);
            background-color: #b32424;

            i {
                display: inline-block;
                font-size: 14px;
                width: 14px;
                height: 14px;
            }
        }

        // <!-- 品牌列表 -->
        .nav-leftmenu {
            width: 202px;
            height: 460px;
            background: #e6e6e6;
            z-index: 66;
            position: absolute;
            box-shadow: 2px 0 4px 0 rgba(0, 0, 0, .1), -2px 0 4px 0 rgba(0, 0, 0, .1);

            ul {
                width: 202px;
                height: 460px;
                display: flex;
                flex-direction: column;

                .navmenu-box {
                    width: 202px;
                    height: 57.5px;
                    box-sizing: border-box;
                    position: relative;

                    i {
                        display: none;
                        content: " ";
                        width: 4px;
                        background-color: #ccaa7a;
                        height: 57.5px;
                        float: left;
                    }

                    .menu {
                        width: 182px;
                        height: 57.5px;
                        margin: 0 auto;
                        line-height: 57.5px;
                        box-shadow: inset 0 1px 0 0 rgba(196, 142, 142, .1);
                        cursor: $cursor;
                        box-sizing: border-box;
                        border-bottom: 0.5px solid #E6E7E7;

                        .menu-left {
                            // display: block;
                            // width: 56.34px;
                            color: #4d4d4d;
                            font-weight: 700;
                            line-height: 57.5px;
                            margin-right: 4px;

                            em {
                                display: inline-block;
                                color: #BBBBBB;
                                width: 3.34px;
                                font-style: normal;
                                // overflow: hidden;
                            }
                        }

                        .menu-right {
                            max-width: 119px;
                            overflow: hidden;
                            height: 57.5px;
                            color: #ccc;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            .rel_a {
                                padding: 0;
                                margin-right: 3px;
                                color: #666;

                                &:hover {
                                    text-decoration: underline;
                                    color: #333;
                                }
                            }
                        }
                    }

                    &:hover i {
                        display: block;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, .9);
                    }

                    // ---------------<!-- 隐藏的品牌页面 -->
                    .submenu {
                        display: none;
                        width: 998px;
                        height: 460px;
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        left: 202px;
                        box-shadow: 4px 0 8px 0 rgba(0, 0, 0, .1);

                        .col_box {
                            overflow: hidden;
                            width: 717px;
                            // min-height: 404px;
                            margin: 23px 28px 0 24px;

                            .t {
                                position: relative;
                                display: block;
                                color: #666;
                                margin-bottom: 12px;
                                line-height: 15px;
                                padding-left: 7px;
                                font-size: 14px;
                                font-weight: 700;

                                &::before {
                                    position: absolute;
                                    content: '';
                                    top: 0;
                                    left: 0;
                                    width: 4px;
                                    height: 14px;
                                    background-color: #666;
                                }
                            }

                            .col_1 .branchlist {
                                position: relative;
                                margin-bottom: 24px;
                                box-sizing: border-box;

                                i {
                                    width: 100%;
                                    height: 20px;
                                    position: absolute;
                                    left: 0;
                                    z-index: 2;
                                    bottom: -1px;
                                    background: url(../img/brand-logo-down.png) bottom center repeat;
                                }
                            }

                            .col_1 .branchlist ul {
                                width: 712px;
                                overflow-x: hidden;
                                overflow-y: auto;
                                max-height: 278px;

                                &::-webkit-scrollbar {
                                    width: 4px;
                                }

                                &::-webkit-scrollbar-thumb {
                                    background-color: #d8d8d8;
                                    border-radius: 8px;
                                }

                                div {
                                    width: 695px;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    border-left: 1px solid #e6e6e6;
                                    border-top: 1px solid #e6e6e6;
                                }

                                li {
                                    // display: block;
                                    width: 139px;
                                    height: 79px;

                                    a {
                                        display: block;
                                        width: 139px;
                                        height: 79px;
                                        border-bottom: 1px solid #e6e6e6;
                                        border-right: 1px solid #e6e6e6;
                                        box-sizing: border-box;
                                        position: relative;

                                        span {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            display: block;
                                            width: 100%;
                                            font-size: 14px;
                                            color: #FFFFFF;
                                            line-height: 79px;
                                            text-align: center;
                                            background-color: #CCAA7A;
                                            display: none;
                                        }

                                        img {
                                            display: block;
                                            width: 100px;
                                            height: 40px;
                                            margin: auto;
                                            padding-top: 19px;
                                        }
                                    }

                                    &:hover img {
                                        display: none;

                                    }

                                    &:hover span {
                                        display: block;
                                    }
                                }
                            }

                            .col_2 {
                                .hotwords {
                                    a {
                                        display: inline-block;
                                        height: 36px;
                                        line-height: 36px;
                                        padding: 0 18px;
                                        border: 1px solid #eee;
                                        border-radius: 100px;
                                        font-size: 14px;
                                        color: #666;

                                        &:hover {
                                            background-color: #CCAA7A;
                                            color: #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }

                        .branch-img {
                            display: block;
                            width: 205px;
                            height: 412px;
                            margin-top: 23px;
                        }
                    }

                    // <!-- 划过li使隐藏的品牌页面显示 -->
                    &:hover .submenu {
                        display: block;
                    }
                }

            }
        }
    }

    .nav-right {
        margin-left: 20px;

        ul li {
            float: left;
            margin-left: 24px;

            a {
                // background-color: pink;
                display: block;
                height: 41px;
                line-height: 41px;
                font-size: 14px;
                color: #333;
                position: relative;
            }

            &:hover {
                // 划过a会给每个链接添加底边框
                border-bottom: 3px solid #b32424;
            }
        }
    }
}

// ----------floatnav
.fixednav {
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #fff;

    #nav {
        position: relative;

        .nav-search {
            color: #999;
            height: 48px;
            line-height: 48px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #FFFFFF;

            .navsearch-left {
                display: block;
                width: 310px;
                height: 48px;
                overflow: hidden;

                .icon {
                    width: 32px;
                    height: 48px;
                    text-align: center;
                }

                .dongfangxing {
                    width: 278px;
                    height: 100%;
                    position: relative;

                    span {
                        display: block;
                        width: 198px;
                        height: 100%;
                        color: #ccc;
                    }

                    input {
                        border: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(255, 255, 255, 0);
                    }
                }

                #recommand {
                    // 先把热门推荐隐形 当点击东方星时把热门推荐显示display:block
                    display: none;
                    position: absolute;
                    z-index: 100;
                    width: 278px;
                    height: 113px;
                    background: #fff;
                    border: 1px solid #eee;
                    box-sizing: border-box;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .15);
                    left: 32px;
                    top: 48px;
                    color: #ccc;

                    .hot {
                        p {
                            line-height: 32px;
                            padding: 0 12px;
                            overflow: hidden;
                            margin-bottom: 5px;
                        }

                        div {
                            padding-left: 12px;
                            height: 42px;

                            a {
                                font-size: 12px;
                                line-height: 18px;
                                display: block;
                                margin-bottom: 10px;
                                margin-right: 10px;
                                color: #cc5252;
                                border: 1px solid #cc5252;
                                border-radius: 4px;
                                padding: 6px 7px;


                                &:hover {
                                    background-color: #cc5252;
                                    color: white;
                                }
                            }
                        }
                    }

                    .history {
                        line-height: 32px;

                        span {
                            padding-left: 12px;
                        }

                        a {
                            color: #ccc;
                            padding-right: 12px;
                        }
                    }
                }
            }

            .navsearch-right {
                width: 96px;
                height: 48px;
                text-align: center;

                .navsearch-btn {
                    width: 48px;
                    height: 48px;

                    .iconsousuo1 {
                        display: block;
                        font-size: 30px;
                        color: #ccc;
                        cursor: $cursor;

                    }
                }

                .navsearch-cart {
                    width: 48px;
                    height: 48px;

                    .iconfont {
                        color: #ccc;
                        font-size: 24px;
                    }
                }
            }

        }
    }
}

// -------------------------------main
#wrap-main {

    // 轮播图
    .wrap-lunbobanner {
        width: 100%;
        height: 460px;
        background-color: pink;

    }

    #main {
        // position: relative;
        background-color: #f5f5f5;

        .top {
            height: 60px;

            h3 {
                line-height: 60px;
                font-size: 20px;
                color: #4a4a4a;
                line-height: 60px;
                font-weight: 600;
                margin-left: 8px;
            }

            // 查看更多
            .seemore {
                color: #666;
                line-height: 60px;

                &:hover {
                    text-decoration: underline;
                    color: rgb(29, 28, 28);
                }
            }

        }

        .main-clock_1,
        .main-clock_2,
        .main-clock_3,
        .main-clock_4,
        .main-clock_5,
        .main-clock_6 {
            margin-bottom: 32px;
        }

        //左右按钮
        .tab {
            position: absolute;
            top: 150px;
            cursor: pointer;
            color: #FBF8F4;
            z-index: 999;

            i {
                width: 30px;
                height: 60px;
                display: block;
                font-size: 25px;
                line-height: 60px;
                text-align: center;
                background: rgba(20, 20, 20, 0.15);

                &:hover {
                    background-color: #D1AE7D;
                }
            }
        }

        .left-btn {
            left: 0;

            i {
                border-radius: 0 7px 7px 0;
            }
        }

        .right-btn {
            right: 0;

            i {
                border-radius: 7px 0 0 7px;
            }

        }

        .cLeft {
            display: block;
            position: relative;
            width: 392px;
            height: 360px;
            margin-right: 12px;
            overflow: hidden;

            .p_txt {
                width: 90%;
                position: absolute;
                left: 5%;
                bottom: 28px;
                text-align: center;
                color: #fff;
                z-index: 2;

                p:nth-child(1) {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 2px;
                }

                p:nth-child(2) {
                    letter-spacing: 1px;
                }
            }
        }

        .main-clock_1 {
            height: 280px;
            display: flex;
            justify-content: space-between;
            margin-top: 11px;

            a {
                display: block;
                width: 291px;
                text-align: center;
                color: #fff;
                position: relative;

                // height: 280px;
                .p_img {
                    display: block;
                    height: 280px;
                    overflow: hidden;
                    transition: all .5s ease;

                    &:hover {
                        width: 310px;
                    }
                }

                .p_txt {
                    width: 90%;
                    position: absolute;
                    top: 22px;
                    left: 5%;
                    line-height: 1.5;

                    p:nth-child(1) {
                        font-size: 16px;
                        font-weight: 700;
                    }

                }
            }
        }

        .main-clock_2 {
            height: 420px;

            .top {

                height: 60px;
                overflow: hidden;

                h3,
                span {
                    display: inline-block;
                }

                h3 {
                    line-height: 60px;
                    font-size: 20px;
                    color: #4a4a4a;
                    line-height: 60px;
                    font-weight: 600;
                    margin-left: 8px;
                }

                span {
                    cursor: $cursor;
                    margin-left: 20px;
                    width: 72px;
                    height: 28px;
                    text-align: center;
                    line-height: 28px;
                    background-color: #333;
                    color: #f2d291;
                    margin-top: 16px;
                    border-radius: 2px;
                    position: relative;

                    &::after {
                        content: "";
                        clear: both;
                        display: block;
                        width: 0px;
                        height: 0;
                        // border: 4px solid black;
                        border-width: 4px;
                        border-style: solid;
                        border-color: #686868 transparent transparent transparent;
                        position: absolute;
                        left: 30px;
                    }
                }

            }

            .content {
                height: 360px;
                position: relative;

                // .cLeft {
                //     display: block;
                //     position: relative;
                //     width: 392px;
                //     height: 360px;
                //     margin-right: 12px;
                //     overflow: hidden;

                //     .p_txt {
                //         width: 90%;
                //         position: absolute;
                //         left: 5%;
                //         bottom: 28px;
                //         text-align: center;
                //         color: #fff;
                //         z-index: 2;

                //         p:nth-child(1) {
                //             font-size: 20px;
                //             font-weight: 700;
                //             margin-bottom: 2px;
                //         }

                //         p:nth-child(2) {
                //             letter-spacing: 1px;
                //         }
                //     }
                // }

                .cRight {
                    width: 796px;
                    height: 360px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-content: space-between;

                    a {
                        width: 392px;
                        height: 174px;

                        &:hover {
                            box-shadow: 1px 1px 5px 1px rgb(214, 213, 213);
                        }
                    }
                }

                // .tab {
                //     position: absolute;
                //     top: 150px;
                //     cursor: pointer;
                //     color: #FBF8F4;

                //     i {
                //         width: 30px;
                //         height: 60px;
                //         display: block;
                //         font-size: 25px;
                //         line-height: 60px;
                //         text-align: center;
                //         background: rgba(20, 20, 20, 0.15);

                //         &:hover {
                //             background-color: #D1AE7D;
                //         }
                //     }
                // }

                // .left-btn {
                //     left: 0;
                //     i {
                //         border-radius: 0 7px 7px 0;
                //     }
                // }
                // .right-btn {
                //     right: 0;

                //     i {
                //         border-radius: 7px 0 0 7px;
                //     }

                // }
            }
        }

        .main-clock_3 {
            height: 340px;

            .top h3 {
                margin-left: 8px;
                font-weight: 600;
                font-size: 20px;
                color: #cc5252;
                line-height: 60px;
            }

            .top a {
                color: #666;
                line-height: 60px;
            }

            .content {
                height: 280px;

                .cLeft {
                    height: 280px;
                }
            }


        }


        .main-clock_4 {
            height: 340px;
            position: relative;

            .top {

                ul {
                    margin-left: 20px;
                    display: flex;
                    margin-top: 16px;

                    li {
                        display: block;
                        cursor: pointer;
                        width: 72px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        color: #666;
                        background-color: #e6e6e6;
                        border-radius: 2px;
                        margin-right: 8px;
                        position: relative;

                        &:hover {
                            background-color: #333;
                            color: #f2d291;
                        }

                        i {
                            content: "";
                            clear: both;
                            display: block;
                            width: 0;
                            height: 0;
                            border-width: 4px;
                            border-style: solid;
                            border-color: #686868 transparent transparent transparent;
                            position: absolute;
                            left: 30px;

                        }
                    }
                }
            }

            .content {
                position: relative;

                .list1,
                .list2,
                .list3 {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .cLeft {
                    height: 280px;
                }

                .c4-middle,
                .c4-right {
                    position: relative;
                    width: 392px;
                    height: 280px;
                    overflow: hidden;

                }

                .c4-middle {
                    background-color: #fff;
                    position: relative;

                    .l-img {
                        position: relative;
                        width: 212px;
                        height: 265px;
                        margin: 8px 6px 0 10px;
                        overflow: hidden;
                    }

                    .r-text {
                        position: absolute;
                        top: 30%;
                        left: 228px;

                        .p2 {
                            margin-top: 8px;
                            margin-bottom: 5px;
                            font-size: 16px;
                            color: #333;
                            font-weight: 700;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            word-break: break-all;
                            display: -webkit-box;
                        }

                        .p3 {
                            span {
                                line-height: 12px;
                                font-family: DIN-Bold;
                            }

                            .sp1 {
                                color: #cc9952;
                            }

                            .sp2 {
                                color: #999;
                            }
                        }

                        .p4 {
                            display: block;
                            margin-top: 25px;
                            width: 87px;
                            height: 26px;
                            line-height: 25px;
                            color: #cc9952;
                            text-align: center;
                            letter-spacing: .86px;
                            border-radius: 100px;
                            border: 1px solid #cc9952;

                            &:hover {
                                background-color: #cc9952;
                                color: white;
                            }
                        }
                    }

                    .sort {
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 43px;
                        height: 23px;
                        text-align: center;
                        line-height: 23px;
                        color: #fff;
                        font-weight: 700;
                        font-family: DIN-Bold;
                        background-color: #f0c07d;
                        border-radius: 0 15px 15px 0;
                    }
                }

                .c4-right {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    a {
                        display: block;
                        width: 190px;
                        height: 134px;
                        position: relative;
                        background-color: #fff;
                        position: relative;

                        .p-img {
                            width: 118px;
                            height: 118px;
                            margin-top: 8px;
                            margin: 8px auto;
                            text-align: center;
                        }

                        .n-txt {
                            position: absolute;
                            bottom: 0px;
                            width: 100%;
                            padding: 15px 0;
                            text-align: center;
                            line-height: 12px;
                            background: rgba(255, 255, 255, .8);

                            p {
                                color: #666;
                                line-height: 12px;
                                margin-bottom: 6px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }

                            span {
                                color: #999;
                                line-height: 12px;
                                font-family: DIN-Bold;
                            }

                            span:nth-of-type(1) {
                                color: #cc9952;
                            }

                            span:nth-of-type(2) {
                                color: #999;
                            }
                        }
                    }

                    .sort-r {
                        position: absolute;
                        top: 10px;
                        left: 7px;
                        color: #cc9952;
                        font-weight: 700;
                        line-height: 12px;
                        font-family: DIN-Bold;
                    }
                }

            }
        }

        .main-clock_5 {
            height: 694px;
            position: relative;

            .top {

                ul {
                    margin-left: 20px;
                    display: flex;
                    margin-top: 16px;

                    li {
                        display: block;
                        cursor: pointer;
                        width: 72px;
                        height: 28px;
                        line-height: 28px;
                        text-align: center;
                        color: #666;
                        background-color: #e6e6e6;
                        border-radius: 2px;
                        margin-right: 8px;
                        position: relative;

                        &:hover {
                            background-color: #333;
                            color: #f2d291;
                        }

                        i {
                            content: "";
                            clear: both;
                            display: block;
                            width: 0;
                            height: 0;
                            border-width: 4px;
                            border-style: solid;
                            border-color: #686868 transparent transparent transparent;
                            position: absolute;
                            left: 30px;

                        }
                    }
                }
            }

            .content {
                height: 639px;
                position: relative;
                display: flex;
                flex-direction: column;

                .wrap-list1,
                .wrap-list2,
                .wrap-list3,
                .wrap-list4,
                .wrap-list5 {
                    height: 544px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                // .list1,.list2,.list3,.list4,.list5{

                // }
                .con-top {
                    width: 100%;
                    height: 544px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    a {
                        display: block;
                        width: 594px;
                        height: 260px;
                        position: relative;

                        .p-img {
                            width: 594px;
                            height: 260px;

                            img {
                                width: 594px;
                                height: 260px;
                            }
                        }

                        .n-txt {
                            position: absolute;
                            top: 40px;
                            left: 49px;
                        }
                    }
                }

                .logo_a {
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    display: flex;
                    justify-content: space-between;

                    a {
                        display: block;
                        width: 190px;
                        height: 95px;
                        position: relative;
                        background-color: #fff;

                        .p-img {
                            display: block;
                            width: 190px;
                            height: 95px;

                            img {
                                width: 120px;
                                height: 48px;
                                margin-left: 35px;
                                margin-top: 21px;
                            }
                        }

                        .p-txt {
                            position: absolute;
                            top: 0;
                            left: 0;
                            line-height: 95px;
                            display: none;
                            width: 190px;
                            height: 95px;
                            font-size: 16px;
                            font-weight: 700;
                            color: #fff;
                            text-align: center;
                            letter-spacing: 2px;
                            background-color: #ccaa7a;
                        }

                        &:hover .p-img {
                            display: none;
                        }

                        &:hover .p-txt {
                            display: block;
                        }
                    }
                }
            }
        }

        .main-clock_6 {
            height: 340px;
            position: relative;

            .content {
                height: 280px;

                .shipin {
                    width: 392px;
                    height: 280px;
                    background: url(../img/bgimg.jpg) no-repeat;
                }

                .con-rig {
                    width: 796px;
                    height: 280px;
                    display: flex;
                    justify-content: space-between;

                    a {
                        display: block;
                        height: 280px;
                        width: 190px;

                        p {
                            margin: 12px 20px 26px;
                            color: #333;
                            height: 36px;
                            line-height: 18px;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            word-break: break-all;
                            display: -webkit-box;
                        }

                        .author {
                            margin: 0 20px;
                            height: 40px;
                            line-height: 40px;
                            color: #999;
                            border-top: 1px solid #eee;

                            .touxiang {
                                position: relative;
                                width: 24px;
                                height: 24px;
                                margin-top: 8px;
                                border: 1px solid #eee;
                                border-radius: 50%;
                                box-sizing: border-box;
                                background-size: 80%;
                                overflow: hidden;
                            }

                            .laiyuan {
                                width: 85px;
                                margin-left: 4px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }

        .main-clock_7 {
            min-height: 300px;
        }
    }
}


#wrap-footer {
    border-top: 1px solid #eee;
    height: 617px;
    // background-color: #000;
}

.foot-top,
.foot-center {
    width: 1200px;
    margin: 0 auto;
}

#footer-top {
    width: 100%;
    position: relative;
    background-color: #fff;

    .foot-top {
        height: 70px;
        a {
            float: left;
            display: block;
            width: 240px;
            height: 70px;
            line-height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #666;
            font-size: 14px;

            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                background-image: url(../img/a.png);
                background-position: -409px -357px;
                background-size: 589px;
                width: 38px;
                height: 38px;
            }
        }
    }
}

#footer-center {
    width: 100%;
    height: 263px;
    background-color: #333;
    .foot-center{
        height: 263px;
        padding: 44px 0 80px;
    }
}