$cursor:pointer;

#wrap-header {
    background-color: #960607;
    position: relative;

    #header {
        width: 1200px;
        margin: 0 auto;
    }

    a {
        display: block;
    }

    div {
        position: absolute;
        top: 50%;
        right: 44px;
        margin-top: -16px;
        margin-left: -16px;
        cursor: $cursor;
        width: 32px;
        height: 32px;
        background-image: url("../img/a.png");
        background-position: -456px -414px;
        background-size: 589px;
    }
}

#wrap-top,
#wrap-search,
#wrap-main {
    width: 100%;
}

#top,
#search,
#main {
    width: 1200px;
    margin: 0 auto;
}

#wrap-top {
    background-color: white;
    color: #999;

    #top {
        height: 28px;
        line-height: 28px;

        .top-left {
            a {
                display: inline-block;
                line-height: 28px;
                color: #998c59;
                margin-left: 10px;
                margin-right: 30px;
                cursor: $cursor;
            }
        }

        .top-right {
            // width: 510px;
            // background-color: rgb(238, 207, 212);

            a {
                line-height: 28px;
                display: block;
                float: left;
                cursor: $cursor;
                padding: 0 10px;
                color: #999;

                &:hover {
                    color: black;
                }
            }

            .top-login {
                a:nth-child(2) {
                    color: #ae0f17;
                }
            }

            .top-others {
                .fenGe {
                    color: #ddd;
                    margin: 0 8px;
                    float: left;
                }
            }
        }
    }
}

#wrap-search {
    height: 115px;
    background-color: #FFFFFF;

    #search {
        height: 100%;

        .search-left {
            width: 404px;

            a {
                display: block;
            }

            .wb-logo {
                margin-top: 18px;
                width: 121px;
                font-size: 0;
            }

            >a {
                margin-top: 18px;
            }
        }
    }
}

em {
    font-style: normal;
}

#main {
    position: relative;
    width: 990px;
    margin: 20px auto 0;
    padding-bottom: 180px;
    min-height: 900px;

    >h2 {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        font-weight: 700;

    }

    .login-tips {
        height: 30px;
        background-color: #fff9ce;
        color: #666;
        font-size: 12px;
        line-height: 30px;
        text-indent: 14px;
    }

    .cart-nav {
        height: 34px;
        line-height: 34px;
        background: #f5f5f5;
        color: #666;
        margin-bottom: 20px;

        dl dt {
            position: relative;
            width: 50px;
            height: 34px;
            display: block;
            float: left;

            input {
                position: absolute;
                top: 12px;
                left: 16px;
                cursor: pointer;
            }

            .icon-check1 {
                display: block;
                width: 12px;
                height: 12px;
            }
        }

        dd {
            display: block;
            float: left;
        }

        .all_txt {
            width: 90px;
            margin-right: 20px;
        }


        ul {
            width: 576px;

            li {
                width: 120px;
                margin-left: 24px;
                text-align: center;
                display: block;
                float: left;
            }
        }
    }


    .goods {
        position: relative;
        padding-top: 15px;

        .goods-right {
            position: relative;
            margin-left: 50px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgb(189, 187, 187);

            .select_tik {
                position: absolute;
                top: 50%;
                margin-top: -6px;
                width: 12px;
                height: 12px;
                left: -34px;

                input {
                    position: absolute;
                    cursor: pointer;
                }

                .icon-check1 {
                    display: block;
                    width: 12px;
                    height: 12px;
                }

            }

            >a {
                width: 360px;
                display: block;
            }

            .goods-img {
                position: relative;
                width: 90px;
                height: 90px;
                overflow: hidden;
                text-align: center;

                img {
                    width: 90px;
                    height: 90px;
                    display: inline-block;
                    border: 0;
                }
            }

            .goods-txt {
                width: 250px;
                margin-top: 5px;
                margin-left: 20px;

                .p1 {
                    color: #666;
                    line-height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            ul {
                height: 20px;
                line-height: 20px;
                margin-top: 6px;

                li {
                    display: block;
                    float: left;
                    width: 120px;
                    color: #666;
                    text-align: center;
                    margin-left: 24px;
                }

                .goods-num {
                    margin-left: 44px;
                    margin-right: 24px;
                    width: 76px;
                    height: 18px;
                    line-height: 17px;
                    border: 1px solid #ddd;
                    color: #333;
                    text-align: center;

                    span {
                        float: left;
                        width: 16px;
                        height: 18px;
                        cursor: pointer;
                        font-size: 14px;
                    }

                    .num {
                        border: 0;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd;
                        width: 42px;
                        height: 17.5px;
                        float: left;
                        text-align: center;
                        padding: 0;
                    }
                }

                .total-price {
                    font-weight: 700;
                }

                .others a {
                    display: block;
                    text-align: center;
                    color: #999;
                    line-height: 22px;
                }
            }
        }


        .bottom {
            // position: absolute;
            // bottom: 100px;
            width: 990px;
            height: 60px;
            line-height: 60px;
            background: #f2f2f2;

            ul li {
                display: inline-block;
                color: #666;
                margin-right: 28px;
            }

            .select_tik {
                position: relative;
                width: 50px;
                height: 60px;
                margin-right: 0;

                input {
                    position: absolute;
                    top: 24px;
                    left: 16px;
                    cursor: pointer;
                }

                .icon-check1 {
                    display: block;
                    // background-image: url(../img/a.png);
                    // background-position: -576px -255px;
                    // background-size: 589px;
                    width: 12px;
                    height: 12px;
                }
            }

            a{
                color: #666;
            }

            .deleteall{
                a{
                    color: #666;
                }
            }
            .choose {
                margin-left: 133px;

                em {
                    color: #cc5252;
                }
            }

            .accounts-btn {
                float: right;
                width: 180px;
                background: #cc5252;
                font-weight: 700;
                margin-right: 0;
                text-align: center;
                font-size: 14px;
                a{
                    display: block;
                    color: #fff;
                    font-size: 14px;
                }
            }

            .allprice {
                line-height: 18px;
                text-align: right;

                p {
                    font-size: 14px;
                    margin-top: 12px;

                    span {
                        color: #cc5252;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}